<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.example.lesson03.mapper.ReviewMapper">
 	<select id="selectReviewById" parameterType="int" resultType="com.example.lesson03.domain.Review">
 		SELECT
 			<!-- 실무에서는 *표시를 따로 사용하지 않습니다. 왜냐? 사용자들이 직접 볼수있게 배포를 하게 되는데,
 				어떤 사람이 DB에서 컬럼을 추가하면 따로 확인이 불가능하기 때문에, 
 				무조건 직접 하나씩 적는게 가장 바람직하다. -->
	 		`id`
			, `storeId`
			, `menu`
			, `userName`
			, `point`
			, `review`
			, `createdAt`
			, `updatedAt`
 		FROM
 			`new_review`
 		WHERE
 			`id` = #{id}
 	</select>
 	
 	<insert id="insertReview" parameterType="com.example.lesson03.domain.Review">
 		INSERT INTO `new_review`
 		(
 			`storeId`
			, `menu`
			, `userName`
			, `point`
			, `review`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{storeId}
 			,#{menu}
 			,#{userName}
 			,#{point}
 			,#{review}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<insert id="insertReviewAsField" parameterType="map">
 		INSERT INTO `new_review`
 		(
 			`storeId`
			, `menu`
			, `userName`
			, `point`
			, `review`
			, `createdAt`
			, `updatedAt`
 		)
 		VALUES
 		(
 			#{storeId}
 			,#{menu}
 			,#{userName}
 			,#{point}
 			,#{review}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<update id="updateReviewById" parameterType="map">
 		UPDATE `new_review` 
 		SET
 			`review` = #{review}
 			, `updatedAt` = NOW()
 		WHERE
 			`id` = #{id} 
 	</update>
 	
 	<delete id="deleteReviewById" parameterType="int">
 		DELETE 
 		FROM
 			`new_review`
 		WHERE
 			`id` = #{id}
 	</delete>
 </mapper>