<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.example.lesson04.mapper.StudentMapper">
 	<insert id="insertStudent" parameterType="com.example.lesson04.domain.Student">
 		INSERT INTO `new_student`
 		(
 			`name`
			,`phoneNumber`
			,`email`
			,`dreamJob`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{name}
 			,#{phoneNumber}
 			,#{email}
 			,#{dreamJob}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 </mapper>